#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

SRC_DIR = usr/src/hid_bosto-$(DEB_VERSION_UPSTREAM)

%:
	dh $@ --with dkms

override_dh_dkms:
	sed 's/@VERSION@/$(DEB_VERSION_UPSTREAM)/' dkms.conf.in > debian/bosto-dkms.dkms
	dh_dkms

override_dh_install:
	install -d debian/bosto-dkms/$(SRC_DIR)
	install -m 644 linux/hid-bosto.c debian/bosto-dkms/$(SRC_DIR)/
	install -m 644 linux/Makefile debian/bosto-dkms/$(SRC_DIR)/
	install -m 644 CHANGELOG.md debian/bosto-dkms/$(SRC_DIR)/
	dh_install

override_dh_auto_build:
override_dh_auto_install:
override_dh_auto_clean:
